<nav>
    <div class="nav-container">
        <div class="navbar-left">
            <a href="#">
                <img class="web-logo" src="assets/img/icon-dev.png" alt="web logo" />
            </a>
            <ul class="navbar-links">
                <li>
                    <a href="/" class="link-active">Home</a>
                </li>
                <li>
                    <a href="/blog" class="link">Blog</a>
                </li>
                <li>
                    <a href="/testimonial" class="link">Testimonials</a>
                </li>
            </ul>
        </div>

        <div class="navbar-right">
            <a href="/contact" class="contact-link">Contact Me</a>
        </div>
        <div class="hamburger-container">
            <button type="button" id="hamburgerButton" class="contact-link hamburger-button">
                ☰
            </button>
        </div>
    </div>

    <ul id="menuList" class="hamburger-menu-list hide-menu">
        <li>Home</li>
        <li>Blog</li>
        <li>Contact Me</li>
    </ul>
</nav>