{{#> layout title='Register' }}
<main>
  <section class="blog-form">
    <form action="/register" method="post" class="form-container">
      <h1 class="section-title" style="color:white">Register</h1>

      <div class="auth-form" style="color:rgb(0, 0, 0)">
        <div class="form-field">
          <label for="username" class="form-label">Username</label>
          <input id="username" name="username" class="form-input" type="text" placeholder="username" />
        </div>
        <div class="form-field">
          <label for="email" class="form-label">Email</label>
          <input id="email" name="email" class="form-input" type="email" placeholder="example@mail.com" />
        </div>
        <div class="form-field">
          <label for="password" class="form-label">Password</label>
          <input id="password" name="password" class="form-input" type="password" placeholder="password (6 character)"/>
        </div>

      {{#if messages.error}}
        <script>
          Swal.fire({
            position: "center",
            icon: "error",
            title: "{{ messages.error }}",
            showConfirmButton: false,
            timer: 1500
          });
        </script>
      {{/if}}

        <div class="register-button">
          <button type="submit" class="btn btn-outline-dark">Register</button>
        </div>
      </div>
    </form>
  </section>
</main>

<script src="/utils/alert.js"></script>

{{/layout}}