{{#> layout title='Edit Blog' user=user }}
  <main class="contact-section">
    <form id="contactForm" class="contact-form">
      <h1 style="text-align: center;">Contact Me</h1>
      <div class="form-field">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-input" type="text" placeholder="name" required />
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input id="email" name="email" class="form-input" type="email" placeholder="email" required />
      </div>

      <div class="form-field">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" class="form-input" type="number" placeholder="phone number"
          required />
      </div>

      <div class="form-field">
        <label for="subject">Subject</label>
        <input id="subject" name="subject" class="form-input" placeholder="subject" required />
      </div>

      <div class="form-field">
        <label for="skill">Skill</label>
        <select id="skill" name="skill" class="form-input" required>
          <option value="Frontend">Frontend</option>
          <option value="Backend">Backend</option>
        </select>
      </div>

      <div class="form-field">
        <label class="message-contact" for="message">Your Message</label>
        <textarea id="message" name="message" class="form-input" required></textarea>
      </div>

      <button type="submit" class="form-submit-button">Submit</button>
    </form>
  </main>

  <script src="/assets/js/submitForm.js"></script>
  {{!-- <script src="belajar-js.js"></script> --}}
{{/layout}}
