{{#> layout title='Home' user=user }}

{{#if messages.success}}
<script>
Swal.fire({
  position: "center",
  icon: "success",
  title: "{{ messages.success }}",
  showConfirmButton: false,
  timer: 1500
});
</script>
{{/if}}

<main class="home-page">
  <!-- Card Component -->
  <section class="profile-section">
    <!-- Content Start -->
    <div class="card mb-3 mx-auto mt-5 rounded-3 card-style" style="width:70%;background-color:rgba(255, 255, 255, 0.6);">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body" style="padding-left: 5%">
            <h2
              class="card-title"
              style="font-size: 30px; text-align: center; padding-top: 4%"
            >
              Hi welcome to my personal web
            </h2>
            <p class="card-text" style="font-size: 13px; text-align: justify">
              Nama saya adalah Pandu, saya seorang sarjana Teknik Informatika
              dari salah satu universitas swasta di Jakarta, yaitu universitas
              Muhammadiyah Prof. Dr. Hamka, saya berminat menjadi programming
              dikarenakan prospek karir yang sangat diminati di Industri tanah air 
              maupun internasional, selain menjadi programming saya juga menggeluti
              bidang musik, saya memiliki sebuah band bersama teman teman kuliah saya 
              yang bernama Pegasus, untuk genre bandnya sendiri adalah Pop Rock Alternative.
              {{!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum. --}}
            </p>
            <div class="d-flex gap-2 pt-1">
              <a href="https://api.whatsapp.com/" class="contact-link" target="_blank">
              Contact
              </a>
              <a href="https://drive.google.com/file/d/1NAAb6R2JTpAsv6Z50VfEy0lbq7ECYP-o/view?usp=sharing" 
              class="download-cv" target="_blank" >
              Download CV<i class="fa-solid fa-download" style="color: black;"></i>
                {{!-- <img
                  style="width: 13px; height: 13px; margin-bottom: 4px"
                  src="assets/img/download.png"
                /> --}}
              </a>
            </div>

            <p class="card-text d-flex gap-y-5" style="margin-left:0px;">
              <a href="https://www.instagram.com/" style="text-decoration:none;color:black"> 
                <i class="fa-brands fa-instagram fa-2x pt-3 pe-3" ></i>  </a>
              <a href="https://www.linkedin.com/" style="text-decoration:none;color:black">
                <i class="fa-brands fa-linkedin fa-2x  pt-3 px-3"></i> </a>
              <a  href="https://x.com/" style="text-decoration:none;color:black">
                <i class="fa-brands fa-twitter fa-2x  pt-3 px-3"></i></a>
              <a  href="https://www.facebook.com/" style="text-decoration:none;color:black">
                <i class="fa-brands fa-facebook fa-2x  pt-3 px-3"></i></a>
            </p>
          </div>
        </div>

        <div class="col-md-4" style="padding-bottom: 4%;padding-top: 4%;padding-right: 1%;padding-left: 1%;text-align:center;">
          <img src="assets/img/pandu.jpg" class="img-fluid" alt="..." style="padding-top: 3%; width:60%;border-radius:10px;"/>
          <div>
            <h5 style="text-align:center;font-weight:bolder;padding-top:3%;">Pandu Rizky</h5>
            <h6 style="text-align: center; font-weight:normal;">Developer</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Ends -->
  </section>
</main>

<script src="assets/js/navbar.js"></script>
<script src="assets/js/button.js"></script>
{{/layout}}