{{#> layout title='Forbidden' user=user }}
<main>
  <section class="blog-container">
    <p>Akses tidak diizinkan</p>
  </section>
</main>

{{!--
<script src="assets/js/blog.js"></script> --}}

{{/layout}}