{{#> layout title="Testimonials" user=user}}
<main class="mb-5">

  <div style="color: white;">
    <h2 class="text-center my-5">My Testimonials</h2>
    <h4 class="text-center mb-3">Rating By Star</h4>
  </div>

  <div class="container-sm text-center d-flex flex-row justify-content-center gap-3">
    <button onclick="showAllTestimonials()" type="button" class="btn btn-orange">
      All
    </button>
    <button type="button" onclick="filterTestimonialByStar(1)" class="btn btn-orange">
      1✯
    </button>
    <button type="button" onclick="filterTestimonialByStar(2)" class="btn btn-orange">
      2✯
    </button>
    <button type="button" onclick="filterTestimonialByStar(3)" class="btn btn-orange">
      3✯
    </button>
    <button type="button" onclick="filterTestimonialByStar(4)" class="btn btn-orange">
      4✯
    </button>
    <button type="button" onclick="filterTestimonialByStar(5)" class="btn btn-orange">
      5✯
    </button>
  </div>

  <div id="testimonialsContainer" class="container-fluid mx-auto px-5 mt-4 row row-cols-md-3" >
    
  </div>
</main>

<script src="/assets/js/testimonial.js"></script>
{{/layout}}