body {
  margin: 0;
  font-size: 15px;
}

:root {
  font-size: 17px;
}

/* NAVBAR STYLES */

.text-orange {
  color: rgb(233, 233, 233) !important;
}

.nav-container {
  background-color: #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.web-logo {
  width: 60px;
}

.contact-link {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 12px;
  height: fit-content;
  text-decoration: none;
}

.contact-link:hover {
  background-color: black;
  border: 1px solid rgb(0, 0, 0);
}

.link-active {
  color: orangered;
  font-weight: bold;
}

.link {
  color: black;
}

.btn-contact {
  color: white;
  background-color: rgb(220, 0, 0);
}

.btn-contact:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

.hamburger-container {
  display: none;
}

.hamburger-button {
  font-size: 24px;
}

.hamburger-menu-list {
  background-color: #dedede;
  padding: 0 50px 40px;
  margin: 0;
  list-style: none;
  text-align: right;
}

.show-menu {
  display: none;
}

.hide-menu {
  display: none;
}

/* AUTH FORM */
.auth-form {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px;
  justify-content: center;
}

.register-button {
  text-align: right;
}

.login-button {
  text-align: right;
  margin-top: -10%;
}

.login-button-button {
  padding-top: 2%;
  color: rgb(170, 0, 0);
  background-color: blue;
}

/* HOME PAGE STYLES */
.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* font-size: 18px; */
  margin-top: 50px;
  padding: 0 15 0px;
  gap: 50px;
}

.profile-section {
  flex: 30%;
}

#profileCard {
  border: 1px solid #a8a8a8;
  /* margin: 100px 40px; */
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 20px #a8a8a8;
}

.about-section {
  flex: 50%;
}

.test-button {
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgb(200 200 0 / 60%);
  background-color: rgb(0 217 217 / 60%);
  color: rgb(100 0 0 / 100%);
  box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
}

.download-cv {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 9px;
  padding: 5px 20px;
  text-decoration: none;
}
.download-cv:hover {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #ff0000;
}

/* CONTACT ME STYLES */

.contact-section {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.contact-form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.342);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px;
}

.addblog-form {
  background-color: rgba(255, 255, 255, 0.342);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
}

.form-label {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 7px;
  font-size: 18px;
}

.image .form-input {
  padding-bottom: 4%;
}

.image-blog-add {
  display: none;
}

.form-date {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.form-date input {
  color: gray;
  width: 208px;
  margin-right: 20px;
}

.form-submit-button {
  color: white;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 4%;
  margin-left: 73%;
}

.form-submit-button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.technologies-form {
  color: white;
  gap: 20px;
  font-size: 15px;
  font-weight: lighter;
  align-items: center;
  width: 100%;
  display: grid; /* Mengaktifkan Grid */
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Membuat tiga kolom dengan lebar sama */
}

.technologies-form label {
  font-weight: bolder;
}

.form-image {
  font-size: small;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

/* BLOG PAGE STYLES */

.section-title {
  text-align: center;
}

.btn-blog-add {
  position: absolute;
  margin-right: 2%;
  right: 0;
  top: 0;
}

.blog-form {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 500px;
}

.input-blog-image-group {
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding: 0 8px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
}

.input-blog-image-group label {
  display: flex;
  align-items: center;
  height: 100%;
}

.form-container button {
  margin-top: 30px;
  padding: 8px 20px;
  color: white;
  background-color: rgba(255, 0, 0, 0.801);
  border: none;
  border-radius: 5px;
}

.button-group {
  text-align: right;
}

hr {
  width: 80%;
}

/* BLOG LIST */
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.blog-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.blog-list-detail {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.blog-list-item {
  display: flex;
  gap: 20px;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 20px;
}

.blog-image {
  flex: 1;
}

.blog-image img {
  height: 100%;
  width: 100%;
}

.ggwp {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.blog-content {
  flex: 2;
}

.btn-group-blog {
  text-align: right;
}

.btn-edit {
  text-decoration: none;
  padding: 8px 20px;
  color: black;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.btn-delete {
  padding: 8px 20px;
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
}

.btn-post {
  padding: 8px 20px;
  color: white;
  background-color: orangered;
  border: none;
  border-radius: 5px;
}

.blog-item-title {
  text-decoration: none;
}

.blog-text {
  margin: 0;
}

.relative-time {
  color: #a2a2a2;
  font-size: 14px;
  text-align: right;
}

/* BLOG DETAIL */

.blog-detail-container {
  width: 80%;
}

.blog-detail-image {
  width: 50%;
  height: 300px;
}

.blog-detail-content {
  display: flex;
  gap: 20px;
}

/* TESTIMONIAL PAGE */
.btn-orange {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-orange:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}

/* for mobile devices */
@media (max-width: 768px) {
  /* navbar */
  .navbar-links {
    display: none;
  }
  .navbar-right {
    display: none;
  }
  .hamburger-container {
    display: block;
  }

  /* homepage */
  .home-page {
    flex-direction: column;
    margin-top: 50px;
    padding: 0 60px;
  }

  .show-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #profileCard {
    width: 100%;
  }
}
